<footer class="footer-distributed">
			<div class="footer-left">
				<h3 class="mainFooter">M & C Perfect Clean</h3>
        <br />
        <p class="footer-company-about">
					<span class="abut_the_company_span">About the company</span>
					M & C Perfect Clean provides general <br />and customized cleaning for homes
					and offices.<br /> For over 5 years we have been providing<br /> professional
					and affordable services to our customers.
				</p>
        <br />
				<p class="footer-company-name">M & C Perfect Clean © 2016</p>
			</div>
			<div class="footer-right">
				<div>
					<i class="fa fa-phone glyphicon glyphicon-earphone "></i>
					<p style="font-size:15px;"><span>Marla Munoz </span><a style="margin-left:1px;" href="tel:1-317-332-0073"> +1-(317)-332-0073</a></p>
				</div>
				<div>
					<i class="fa fa-phone glyphicon glyphicon-earphone "></i>
					<p style="font-size:15px;"><span>Cindy Lomeli </span><a style="margin-left:1px;" href="tel:1-317-937-6868"> +1-(317)-937-6868</a></p>
				</div>

				<div>
					<i class="fa fa-envelope glyphicon glyphicon-envelope hidden-xs  "></i>
					<p class="email_span hidden-xs"><a href="mailto:contact@mcperfectclean.com?subject=Free-Estimate">contact<span style="color:white;">@</span>mcperfectclean.com</a></p>

				</div>
        <div>
          <p>
            Follow us on Facebook: <a target="_blank" href="https://www.facebook.com/m&cperfectclean/"><i class="fa fa-facebook-square glyphicon"></i></a>
          </p>
        </div>

			</div>

		</footer>
