<div class="row">
  <div class=" visible-lg visible-md aboutImage">
    <img width="300" height="650" src="assets/images/cleaningLady.png" alt="cleaning lady"/>
  </div>
  <div class="col-xs-12 col-md-offset-1 col-md-6">
    <h2>Get To Know Us</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-6">
    <p class="motto">
      <span class="typesServices">"</span>Our goal is to <span class="typesServices">service</span> you<span class="typesServices">"</span>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-6">
  <p class="aboutP">
    Life is too short to clean your own home! Our team at M & C Perfect Clean is here for you.
    We provide elite cleaning services designed to keep your home sparkling and beautiful so that
    you can focus on things that matter more, like your family and friends.
  </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-6">
    <div class="estimate">
      <div class="row">
        <div class="col-xs-12 ">
        <h4>Free Consultation</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 ">
          <a routerLink="/contact" class="aboutEstLink">Click here to see what we are really all about</a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-6">
  <p class="aboutP">
    Not only do we provide our customers with clean homes, but we do our part to keep the earth clean, too.
    We focus on using green cleaning materials that are environmentally responsible or sustainable.
    We are one of the few cleaning services in America to do this, if not the only company.
  </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-6">
    <h2 style="margin-bottom:50px;">Still Don't Believe Us?</h2>
  </div>
</div>
<div class="cards">

  <div class="row">
    <div class="col-xs-offset-2 col-md-offset-1 col-xs-8 col-md-3">
      <md-card style="background-color: #8C489F;">
        <md-card-header>
          <img md-card-avatar src="assets/images/female.png">
          <md-card-title>Karla Stunnings</md-card-title>
          <md-card-subtitle>Fishers, IN</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-card-title>Amazing</md-card-title>
          <p>
            This team is absolutely the best, I cannot recommend them enough.
            They have been cleaning my house for well over 2 years. I have
            not had any problems with the cleaning crew. They are completely
            reliable and flexible, I really wish I would have found their
            services sooner.
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-xs-offset-2 col-md-offset-0 col-xs-8 col-md-3">
      <md-card style="background-color: #FF665B;">
        <md-card-header>
          <img md-card-avatar src="assets/images/male.png">
          <md-card-title>Sam Foster</md-card-title>
          <md-card-subtitle>Noblesville, IN</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-card-title>Recommended</md-card-title>
          <p>
            Marla and Cindy have been cleaning my home for almost 3 years.
            I have tried many different cleaning crews, and none can
            compare to the great service that is provided by this team. Go
            ahead and try them out for yourself, you will not be disappointed
            on their work.
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-xs-offset-2 col-md-offset-0 col-xs-8 col-md-3">
      <md-card style="background-color: #4EB29A;">
        <md-card-header>
          <img md-card-avatar src="assets/images/female2.png">
          <md-card-title>Anna Pence</md-card-title>
          <md-card-subtitle>Westfield, IN</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-card-title>Professional</md-card-title>
          <p>
            This team have done a great job cleaing my home on a weekly basis.
            They have been cleaning my home for a little less than 1 year. They
            have not cancelled at all! Not even when I have asked them to
            reschedule to a different time. They provide profesional cleaning
            service.
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
